.webixappstart{
    opacity:0;
}
.webixapp{
    transition: opacity 500ms;
    opacity: 1;
}

/*data loading status*/
.status_good, .status_error, .status_saving{
	text-align: center;
	margin-left:-12px;
}
.status_error{
	color:red;
}
.status_good{
	color:green;
}

/*login form*/
.invalid_login .webix_header > div{
    background: #FC3636;
    transition: background 1s;
}
.invalid_login{
    -webkit-animation: formshake .5s linear;
}
@-webkit-keyframes formshake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}
.app_header.webix_header{
	text-align:center;
}
.app_layout.webix_layout_clean{
	background: #EBEDF0;
}
.app_start .webix_template{
	padding:12px 12px;
}
.app_menu .webix_icon{
	font-size:20px;
	vertical-align:middle;
}

.webix_tree_item.webix_selected span{
    color:black !important;
}

.headerLabel .webix_el_box {
    color: white !important;
}

.webix_el_counter {
    padding-top:40px;
}

.detInfoClose {
    padding-top:13px;
    padding-right: 10px;
    float: right;
}

.detInfoImage {
    width:100px;
    padding-top:35px;
    padding-left:40px;
}

.webix_view .webix_win_head >.webix_view >.webix_template {
    padding-left: 10px;
    text-align: left;
    color:white !important;
    background: #3498db !important;
}

.detInfoFields {
    padding:30px 10px;
}

span.far.fa-star {
    padding-left:20px;
}

.welcomeMessage {
    text-align: center;
    padding-top: 50px;
}

.emailMessage {
    text-align: center;
    padding-top: 5px;
    border-style: none !important;
}

.passForgot {
    padding-top:10px;
    border:none !important;
    color: blue !important;
    text-decoration: underline;
}

.passForgot:hover {
    cursor: pointer;
}

.readerdetInfoLabels {
    text-align: center;
}

.bookDetailHeader {
    text-align: center;
}

.bookMainData {
    float: left;
    font-size: 22px;
    margin-left: 80px;
}

.fa-star:hover{
    cursor: pointer;
}

.yellow {
    color: yellow;
    pointer-events: none;
}

.fa-comment {
    float: right;
}

.fa-comment:hover{
    color: black;
}

.mentions {
    color: blue;
}